body {
  color: $primary-text-color;
  background: $background-color;
}

a {
  color: $link-color;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.app {
  padding: 0px 16px;
}